{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'forms-sample'}}) }}

    <div class="form-group row">
        {{ form_label(form.titre, null, {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
        <div class="col-sm-9">
            {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.titre) }}
        </div>
    </div>
     <div class="form-group row">
        {{ form_label(form.description, null, {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
        <div class="col-sm-9">
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.description) }}
        </div>
    </div>

    <div class="form-group row">
        {{ form_label(form.image_oeuvre, null, {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
        <div class="col-sm-9">
            {{ form_widget(form.image_oeuvre, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.image_oeuvre) }}
        </div>
    </div>
        <div class="form-group row">
          <label for="inputDate" class="col-sm-3 col-form-label">date de creation</label>
            <div class="col-sm-9">
                {{ form_widget(form.date_creation, {'id': 'inputDate'}) }}
                {{ form_errors(form.date_creation) }}
            </div>
        </div>
      

    <div class="form-group row">
        <label for="inputDimension" class="col-sm-3 col-form-label">Dimension</label>
        <div class="col-sm-9">
            {{ form_widget(form.dimension, {'id': 'inputDimension', 'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.dimension) }}
        </div>
    </div>

    <div class="form-group row">
        {{ form_label(form.prix, null, {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
        <div class="col-sm-9">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-primary text-white">DT</span>
                </div>
                {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.prix) }}
                <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="inputcat" class="col-sm-3 col-form-label">Categorie</label>
        <div class="col-sm-9">
            {{ form_widget(form.categorie, {'id': 'inputcat','attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.categorie) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-9 offset-sm-3">
            <button type="submit" class="btn btn-primary mr-2">Save</button>
            <button class="btn btn-dark">Cancel</button>
        </div>
    </div>

{{ form_end(form) }}

