{% extends 'base-back.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .truncate-text {
            max-width: 200px; /* Largeur maximale de la cellule */
            overflow: hidden;
            text-overflow: ellipsis; /* Remplacer le texte qui dépasse par des points de suspension */
            white-space: nowrap; /* Empêcher le texte de se retourner à la ligne */
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Utilisateur index</h1>

    <table class="table equal-width">
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Date_naissance</th>
            <th>Actions</th>
            <th style ="max-width: 200px;">Password</th>

        </tr>
        </thead>
        <tbody>
        {% if utilisateurs is not empty %}
            {% for utilisateur in utilisateurs %}
                <tr>
                    <td>{{ utilisateur.id }}</td>
                    <td>{{ utilisateur.email }}</td>
                    <td>{{ utilisateur.roles ? utilisateur.roles|json_encode : '' }}</td>
                    <td>{{ utilisateur.nom }}</td>
                    <td>{{ utilisateur.prenom }}</td>
                    <td>{{ utilisateur.dateNaissance ? utilisateur.dateNaissance|date('Y-m-d') : '' }}</td>
                    <td>
                        <a href="{{ path('app_utilisateur_show', {'id': utilisateur.id}) }}" formnovalidate>show</a>
                        <a href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}" formnovalidate>edit</a>

                    </td>
                    <td style ="max-width: 200px;">{{ utilisateur.password }}</td>

                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

{% endblock %}
