{{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
        <div class="form-group">
            {{ form_label(form.date_commande) }}
            {{ form_widget(form.date_commande) }}
            {{ form_errors(form.date_commande) }}
        </div>

        <div class="form-group">
            {{ form_label(form.idUser) }}
            {{ form_widget(form.idUser) }}
            {{ form_errors(form.idUser) }}
        </div>

        <div class="form-group">
            {{ form_label(form.etat) }}
            {{ form_widget(form.etat) }}
            {{ form_errors(form.etat) }}
        </div>

        <div class="form-group">
            {{ form_label(form.panier) }}
            {{ form_widget(form.panier) }}
            {{ form_errors(form.panier) }}
        </div>

        <div class="form-group">
            {{ form_label(form.oeuvres) }}
            {{ form_widget(form.oeuvres) }}
            {{ form_errors(form.oeuvres) }}
        </div>

        <button type="submit" class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}